<div class="outer-container text-home arrow_box_down">
  <h1>Scopri i Nostri Impianti:</h1>
</div>

<div class="outer-container" ng-controller="HomeController">
    <div id="map"></div>
    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
         <label id="names" >{{marker.title}}</label></a>
    </div>
</div>

<div class="outer-container text-home arrow_box_up">
  <h5>Presenti in Italia da piu di 30 Anni!</h5>
</div>
