<table class="table table_dashboard" >
  <caption class="lead">Personale</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Email</th>
      <th>Data di Nascita</th>
      <th>Ruolo</th>
      <th>Impianto/i</th>
    </tr>
  </thead>
  <tbody>
    <tr class="personal_list" ng-repeat="personal in personale">
      <td>{{personal.nome}}</td>
      <td>{{personal.cognome}}</td>
      <td>{{personal.email}}</td>
      <td>{{personal.data_nascita}}</td>
      <td>{{personal.ruolo}}</td>
      <td id="impiantiList">{{personal.impianto }}</td>
      <!-- <td id="impianti" ng-repeat="impianto in personal.impianto">{{ impianto }}</td> -->
      <td>
        <a href="#/editPersonale/{{personal.$id}}" class="btn btn-small btn-primary">Edit</a>
        <a class="btn-delete btn btn-small btn-danger" ng-click="showme=true">Delete</a>
        <div class="label_delete arrow_box" ng-show="showme">
          <h5>Sicuro di Voler Eliminare questa Persona?</h5>
          <a class="btn-delete btn btn-small btn-danger" ng-click="removePersonale(personal.$id)">SI</a>
          <a class="btn-delete btn btn-small btn-success" id="btn-not-delete" type="button" name="button" ng-click="showme=false">NO</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p>
    <a href="#/addPersonale" class="btn_dashboard btn btn-success" role="button">Aggiungi Personale</a>
</p>

<table class="table table_dashboard" >
  <caption class="lead">Impianti</caption>
  <thead>
    <tr>
      <th>Nome Impianto</th>
      <th>Indirizzo</th>
      <th>Citta</th>
      <th>CAP</th>
      <th>Long</th>
      <th>Latt</th>
    </tr>
  </thead>
  <tbody>
    <tr class="impianto_list" ng-repeat="impianto in impianti">
      <td>{{impianto.nome_impianto}}</td>
      <td>{{impianto.route}}, {{impianto.street_number}}</td>
      <td>{{impianto.citta}}</td>
      <td>{{impianto.cap}}</td>
      <td>{{impianto.long}}</td>
      <td>{{impianto.latt}}</td>
      <td>
        <a href="#/editImpianti/{{impianto.$id}}" class="btn btn-small btn-primary">Edit</a>
        <a class="btn-delete btn btn-small btn-danger" ng-click="showme=true">Delete</a>
        <div ng-show="showme" class="label_delete arrow_box">
          <h5>Sicuro di Voler Eliminare questo Impianto?</h5>
          <a class="btn-delete btn btn-small btn-danger" ng-click="removeImpianti(impianto.$id)">SI</a>
          <a class="btn-delete btn btn-small btn-success" id="btn-not-delete" type="button" name="button" ng-click="showme=false">NO</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p>
    <a href="#/addImpianti" id="btn_dashboard_impianto" class="btn_dashboard btn btn-success" role="button">Aggiungi Impianto</a>
</p>
